{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-typescript/base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12
  },
  "plugins": ["@typescript-eslint"],
  "rules": {},
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@Auth", "./src/components/auth"],
        ["@Text", "./src/components/text"],
        ["@User", "./src/components/user"],
        ["@bin", "./src/bin"],
        ["@config", "./src/config"],
        ["@lib", "./src/lib"],
        ["@middlewares", "./src/middlewares"],
        ["@utils", "./src/utils"],
        ["@test", "./src/utils/test"]
      ]
    }
  }
}
